{% extends 'base.html' %}

{% block js %}
{{ block.super }}
 <script src="http://127.0.0.1:8000/static/js/list.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="main_block" class="detail_block">
        <h1 align="center">Информация по акции</h1>
        <div align="center" class="top_navigation">
            <div class="button_active"><span align="center">График</span></div>
            <div class="button"><span>Информация</span></div>
            <div class="button"><span>Прогноз</span></div>
        </div>
        <div class="detail" hidden>
            <div id="graph" class="graph"></div>
            <div id="info" class="info"></div>
            <div id="predict" class="predict"></div>
        </div>
    </div>

    <div id="list" class="list">
        <h1 align="center">Акции</h1>
        <div class="stocks_list">
            {% for s in stocks %}

            <div class="block" onclick="getStockDetail({{ s.tiker }})">
                <table>
                    <tr>
                        <td rowspan="2">
                            <!--todo сделаь проверку на отсутсвие картинки-->
                            <img class="stock_img" src="{{ s.url }}">

                        </td>
                        <td class="stock_company_name">{{ s.company_name }}</td>
                        <td align="right" class="stock_price">{{ s.price }} $</td>
                    </tr>
                    <tr>
                        <td class="stock_tiker">{{ s.tiker }}</td>
                        {% if s.absolute_price_change > 0 %}
                        <td align="right" class="stock_price_change_growth">
                            {% else %}
                        <td align="right" class="stock_price_change_fall">
                            {% endif %}
                            {{ s.absolute_price_change }} ({{ s.relative_price_change }}%)
                        </td>
                    </tr>
                </table>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}