{% extends 'base.html' %}

{% block css %}
{{ block.super }}
 <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
{{ block.super }}
    <script src="http://127.0.0.1:8000/static/js/list.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/dataTables.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/buttons.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/flash.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/jszip.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/vfs_fonts.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/buttons.html5.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/dataTables/buttons.print.min.js"></script>
<script>
    var table = {{stocks_table | safe | escape}};
</script>
{% endblock %}

{% block content %}
<div id="list" class="list">
    <h1 align="center">Акции</h1>
    <table id="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Тикер</th>
            <th>Цена</th>
            <th>Изменение цены</th>
        </tr>
        </thead>
    </table>

</div>
{% endblock %}