{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css"/>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="http://127.0.0.1:8000/static/js/detail.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/csv-data/csco-daily.js"></script>
{% endblock %}

{% block content %}

<div id="main_block" class="detail_block">
    <h1 align="center">Информация по акции {{ ticker }}</h1>
    <div id="detail" class="detail">
        <div id="graph" class="graph"></div>
        <div id="info" class="info">
            <h3>Описание</h3>
            <p id="company_description_short" class="description">
                {{ description_part1 }}<span id="dots">...</span> <span id="show"
                                                                        class="clickable">Развернуть</span>
                <span id="description_part2">{{ description_part2 }}</span> <span id="hide"
                                                                                  class="clickable">Свернуть</span>
            </p>
            <h3>Параметры</h3>
            <table class="company_info">
                <tr>
                    <td>
                        Страна:
                        {{ country }}
                    </td>
                    <td>
                        Индустрия:
                        {{ industry }}

                    </td>
                </tr>
                <tr>
                    <td>
                        Сектор:

                        {{ sector }}
                    </td>
                    <td>
                        Прошлые диведенды:

                        {{ divedents }}
                    </td>

                </tr>

            </table>
        </div>
        <div id="predict" class="predict"></div>
    </div>
</div>


<script>
    anychart.onDocumentReady(function () {

        var customRanges = [
            {
                'text': 'Неделя',
                'type': 'points',
                // 'unit': 'day',
                'count': 5,
                'anchor': 'last-date'
            },
            {
                'text': 'Месяц',
                'type': 'points',
                // 'unit': 'day',
                'count': 31,
                'anchor': 'last-date'
            },
            {
                'text': 'Квартал',
                'type': 'points',
                // 'unit': 'day',
                'count': 31 * 3,
                'anchor': 'last-date'
            },
            {
                'text': 'Полгода',
                'type': 'points',
                // 'unit': 'day',
                'count': 31 * 6,
                'anchor': 'last-date'
            },
            {
                'text': 'Год',
                'type': 'points',
                // 'unit': 'day',
                'count': 31 * 6,
                'anchor': 'last-date'
            },
            {
                'text': 'Весь период',
                'type': 'max'
            },
        ];

        // set the data
        var table = anychart.data.table('date');
        table.addData({{historical_price | safe | escape}})

        // map the data
        mapping = table.mapAs({'x': 'date', 'value': 'close'});

        // set the chart type
        var chart = anychart.stock();
        chart.plot(0).yAxis().enabled(false);
        chart.plot(0).yAxis().orientation('right');
        chart.plot(0).xAxis(false);
        chart.scroller().enabled(false);

        chart.crosshair().yLabel().axisIndex(1);
        chart.crosshair().xLabel(false);

        var rangeSelector = anychart.ui.rangeSelector();
        rangeSelector.ranges(customRanges);


        var indicator = chart.plot(0).priceIndicator();
        indicator.axis()
        indicator.value('last-visible')
        indicator.stroke("#717171", 1, "1 1");
        indicator.label().background().fill("White");
        indicator.label().fontColor("Black");
        indicator.label().fontSize(20)
        // set the series type
        series = chart.plot(0).area(mapping);
        series.name("Цена");


        chart.padding().right(100);

        series.stroke('2 black');
        series.fill("WhiteSmoke 1");
        // set the container id
        chart.container("graph");

        // initiate drawing the chart
        chart.draw();

        rangeSelector.render(chart);
    });


</script>
{% endblock %}