h1 {
    font-family: MontserratBold;
    font-weight: 700;
    font-style: normal;
    size: 50px;
    line-height: 16px;
}

h3 {
    font-family: MontserratBold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 12px;
    text-align: justify;
    color: #000000;
}

.container {
    width: 70vw;
    height: max-content;
    margin: auto;
    /*background: #F9F9F9;*/
}

.detail_block {
    height: 100vh;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
}

.list {
    height: 100vh;
    width: 37vw;
    margin: auto;
}

.block {
    width: 580px;
    height: 99px;
    background: #F0F0F0;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 20px;
}

.stocks_list {
    overflow: auto;
}

.stock_img {
    width: 80px;
    height: 80px;
    background: #AAA9A9;
    border-radius: 20px;
    margin: 5px;
}

.stock_company_name {
    width: 60%;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    padding: 10px;
}

.stock_price {
    width: 20%;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    padding: 10px;
}

.stock_tiker {
    width: 45%;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #717171;
    padding: 10px;
}

.stock_price_change_growth {
    width: 35%;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-align: right;
    color: #0EC246;
    padding: 10px;
}

.stock_price_change_fall {
    width: 35%;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-align: right;
    color: #DE0613;
    padding: 10px;
}

.top_navigation {
    display: table;
    margin: auto;
}

.button {
    display: inline-block;
    width: 270px;
    height: 60px;
    background: #F0F0F0;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.button_active {
    display: inline-block;
    width: 270px;
    height: 60px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background: #0EC246;
}

.button span, .button_active span {
    position: relative;
    top: 20px;
    width: 135px;
    height: 16px;
    font-family: MontserratBold;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 16px;
    color: #000000;
}

.info {
    display: table-cell;
}

.description {
    width: 100%;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.company_info {
    width: max-content;
    border-spacing: 30px;
    margin: auto;
}

.company_info td {
    background: #F0F0F0;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 12px;
    text-align: justify;
    padding: 30px;
    color: #404040;
}

.graph {
    height: 650px;
    width: 100%;
}

/* Стилизация графиков */
.anychart-input-label, .anychart-credits-logo, .anychart-credits-text {
    display: none !important;
}

.anychart-range-selector {
    position: absolute !important;
    bottom: 35px !important;
    left: 60px !important;
    width: 771px!important;
    height: 60px!important;
    background: #F0F0F0!important;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.05)!important;
    border-radius: 0px 0px 20px 20px!important;
}


.anychart-button {
    width: max-content !important;
    height: 44px !important;
    font-family: Montserrat!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 20px!important;
    line-height: 16px!important;
    color: #000000!important;
    border: none!important;
    margin-inline: 15px!important;
    margin-top: 8px!important;
    background: none!important;
}


.anychart-button-checked {
    background: #0EC246 !important;
    border-radius: 30px !important;
}


/* шрифт */
@font-face {
    font-family: "MontserratBold";
    src: url("/static/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* шрифт */
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}